  <h2 class="h4 font-weight-bold mt-3 text-center">2. El Ürünlerimiz</h2>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">Çıkma Demir Kapı ve Pencere</button>
        <button type="button" class="list-group-item list-group-item-action">Sanayi Tipi Paslanmaz Tezgah</button>
        <button type="button" class="list-group-item list-group-item-action">Sanayi Tipi Paslanmaz Dolap</button>
        <button type="button" class="list-group-item list-group-item-action">Örgü Çit Telleri</button>
        <button type="button" class="list-group-item list-group-item-action">Panel Çit</button>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">2. Kalite Market ve Sanayi Tipi Raflar</button>
        <button type="button" class="list-group-item list-group-item-action">Sandviç Panel Saç</button>
        <button type="button" class="list-group-item list-group-item-action">Trapez Saç</button>
        <button type="button" class="list-group-item list-group-item-action">Kutu Profil Çeşitleri</button>
        <button type="button" class="list-group-item list-group-item-action">Demir Boru</button>
      </div>
    </div>
  </div>

