<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/">Anasayfa</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/2elurunler">2. El Ürünler</a>
    </li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/hurda-fiyatlarimiz">Hurda Fiyatları</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/hakkimizda">Hakkımızda</a>
    </li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/iletisim">İletişim</a>
</li>
